body { background: #eeeeee; }

/* Hiding for now, showing when something is visible with jQuery */
.main, .info { display: none; }

.info { 
	background: #cccccc;
	font-family: Georgia; 
	font-size: 16px; 
	position: absolute; 
	top: 0px; 
	right: 0px; 
	width: 550px; 
	opacity: 0.8;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 60;
}

.states, .cities { width: 120px; display: inline-block; float: left;  padding: 5px; }

.states { color: #9d2849; }

.cities { fill: #a1978b; color: #4f1631; }

#statelist, #citylist { width: 420px; float: left; }

.stateListener, .cityListener { display: inline-block;  padding: 5px; }

.stateListener:hover, .cityListener:hover { background: #e4d1b4; }

.state-boundary, .city-boundary { fill: none; stroke: #fff; }

.city-boundary {
  stroke-opacity: .25;
  stroke-width: .5px;
}
